[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "webrtc-audio-processing"]
	path = webrtc-audio-processing
	url = https://gitlab.freedesktop.org/pulseaudio/webrtc-audio-processing.git
